

.highlights-wrapper {
  display: flex;
  padding: 6vh 6vw;
  background: rgba(100,100,100,0.2)
  /* border: 1px dotted yellow; */
}
.person-exec-full {
  display: block;
  height: auto !important;
  width: 100px;
  aspect-ratio: 1/1;
  border: 1px dotted;
  border-radius: 50%;
  padding: 15px;
  outline: 2px dotted var(--text-color);
  outline-offset: 3px;
}
.person-exec {
  fill: var(--accent-head1);
}
