@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 5vw;
  overflow: auto;
  background: rgba(138,138,138,0.2)
}
.intro-header {
  font-size: clamp(35px,5vw,75px);
  color: var(--accent-head1);
  font-family: "Roboto Slab";
  font-weight: 600
}
.intro-content {
  font-size: clamp(18px,3vw,30px);
  font-family: "Fira Sans";
  white-space: pre-line;
  text-align: center;
  line-height: 1.6;
  padding-top: 4vh;
  max-width: 800px;
}
