* {
     margin: 0;
     padding: 0;
  }
  button {
       border: 0;
  }

.content-area{
     scroll-behavior: smooth;
}
:root {
  --bg-color: #E7E8E8;
  --bg-color-navbar: #CACDCD;
  --menu-bg: #cacdcd77;
  --text-color: #111;
  --accent-head1:#B901AB;
  /* --icon-left: #3f00a899; */
  /* --icon-right: #7e5a9bdd; */
  --icon-left: #009ea288;
  --icon-right: #551a8b88;
  --icon-left-dimmed: #00ced15e;
  --icon-right-dimmed: #541a8b60;
  --icon-server: #551a8b;
  --section-title-top: #64646405;
  --product-bg: #00000015;
  /* --accent-head1: #A7009A;   */
  }
[data-theme="dark"] {
  --bg-color: #111;
  --bg-color-navbar: #3A3A3A;
  --text-color: #eee;
  --accent-head1: #FF32EF;
  --icon-left: #00d8ff88;
  --icon-right: #7e5a9b88;
  --icon-left-dimmed: #00d8ff48;
  --icon-right-dimmed: #7e5a9b48;
  --icon-server: #00d8ff;
  --section-title-top: #64646405;
  --product-bg: #ffffff15;
}

#root {
     background: var(--bg-color);
     color: var(--text-color);
     display: flex;
     flex-direction: column;
     height: 100dvh;
     width: 100dvw;
     /* border: 2px dotted #ff4; */
     overflow: hidden;
}
.content-area {
     flex: 1;
     /* height:100px; */
     width: 100%;
     overflow: auto;
     /* border: 1px solid red; */
}
